---
import type { Locales } from "../../interface";

interface Props {
  locales: Locales.BookingForm["bookingType"];
}

const { locales } = Astro.props;
---

<fieldset class="form-control py-6">
  <legend class="text-base font-bold mb-6 float-left">{locales.title}</legend>
  <div class="grid md:grid-cols-[auto,auto] gap-6 xs:w-max">
    {
      Object.entries(locales.fields).map(([key, field]) => (
        <label class="form-control md:w-72 xs:w-96">
          <div class="label">
            <span class="label-text">{field.label}</span>
          </div>
          <select
            class:list={[
              "select select-md select-bordered",
              key === "rentType" && "select-ghost",
            ]}
            name={key}
            id={key}
          >
            <option disabled selected>
              {field.placeholder}
            </option>
            {field.options.map((option) => (
              <option>{option}</option>
            ))}
          </select>
        </label>
      ))
    }
  </div>
</fieldset>
