---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import FirstView from "../components/FirstView.astro";
import MainLayout from "../layouts/Main.astro";
import Intro from "../components/Intro.astro";
import Location from "../components/Location.astro";
import Solutions from "../components/Solutions.astro";
import Faqs from "../components/Faqs.astro";
import ES from "../locales/ES.json";
---

<html
  lang="en"
  dir="ltr"
  data-theme="sobreruedasgranada"
  class="scroll-smooth scroll-pt-[60px]"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>{ES.pages.landing.metadata.title}</title>
    <meta name="description" content={ES.pages.landing.metadata.description} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script src="/scripts/swiped-events.js" defer></script>
  </head>

  <body>
    <MainLayout>
      <FirstView locales={ES.pages.landing.firstView} />
      <Intro locales={ES.pages.landing.intro} />
      <Solutions locales={ES.sections.solutions} id="soluciones" />
      <Location locales={ES.sections.location} />
      <!-- <Faqs /> -->
    </MainLayout>
  </body>
</html>

<!-- copies de la landing -->

<!-- componente presentaci칩n de las secciones de remolques y camiones -->

<!-- arreglar p치gina de reserva de la pinta y la calculadora de precio -->

<!-- p치gina de alquiler con y sin conductor del cami칩n -->
