---
import { Image } from "astro:assets";
import ArrowRight from "../icons/ArrowRight.astro";
import type { Locales } from "../interface";

const { locales } = Astro.props as { locales: Locales.FirstView };
---

<section
  id="inicio"
  class="py-9 max-xs:!pt-0 lg:px-20 px-16 max-md:px-0 h-[calc(100vh-68px)] grid place-content-center overflow-hidden"
>
  <div
    class="grid grid-cols-2 max-w-screen-xl mx-auto gap-9 max-md:grid-cols-1"
  >
    <div
      class="grid place-content-center max-md:col-start-1 max-md:row-start-1 z-10 max-md:max-w-[440px]
      max-md:mx-auto max-md:px-3 max-md:py-4 max-md:bg-opacity-30 max-md:text-center"
    >
      <h1 class="text-2xl font-bold">
        <span class="max-md:px-2 max-md:py-1">{locales.title}</span>
      </h1><p class="text-xl pt-8 pb-14 max-md:text-lg">
        <span class="max-md:px-2 max-md:py-1">{locales.subtitle} </span>
      </p>
      <div>
        <a
          class="btn btn-md btn-primary"
          rel="bookmark"
          href={locales.accionButton.href}
        >
          <span>{locales.accionButton.text}</span>
          <ArrowRight class="w-5 h-5 ml-1.5" />
        </a>
      </div>
    </div>
    <div
      class="max-w-[440px] mx-auto overflow-hidden rounded-xl max-md:col-start-1 max-md:row-start-1 max-xs:rounded-none max-md:scale-150 max-md:opacity-15"
    >
      <Image
        src={locales.image.src}
        width="2400"
        height="3200"
        alt={locales.image.alt}
        class="aspect-4/3"
      />
    </div>
  </div>
</section>
