---
import Phone from "../icons/Phone.astro";
import Email from "../icons/Email.astro";

const { locales } = Astro.props;
---

<footer
  class="bg-base-100 text-base-content w-full py-8 lg:px-16 xs:px-6 px-4 grid lg:grid-cols-3 sm:grid-rows-[auto,auto] sm:grid-cols-2 gap-4 max-sm:grid-rows-[auto,auto,auto]"
>
  <div
    class="grid grid-rows-3 text-sm max-sm:text-xs gap-1 sm:max-lg:col-start-1 sm:max-lg:col-span-1"
  >
    <span class="flex items-center">
      <Email class="w-4 h-4 mr-1.5" />
      {locales.email}
    </span>
    <span class="flex items-center">
      <Phone class="w-4 h-4 mr-1.5" />
      {locales.phone}
    </span>
    <address class="not-italic">{locales.domain}</address>
  </div>
  <div
    class="text-sm max-sm:text-xs text-slate-500 sm:grid sm:place-content-center sm:max-lg:row-start-2 sm:max-lg:col-span-2 max-sm:row-start-3"
  >
    <span>{locales.copyright}</span>
  </div>
  <ul
    class="grid grid-cols-[auto,auto,auto] w-fit place-content-center text-sm max-sm:text-xs sm:ml-auto sm:max-lg:col-start-2 sm:max-lg:col-span-1 max-sm:-ml-3"
  >
    <li class="h-fit">
      <a
        href={locales.links.terms.href}
        rel="bookmark"
        class="px-3 py-2 w-max block">{locales.links.terms.text}</a
      >
    </li>
    <div class="text-xs h-fit translate-y-2">|</div>
    <li>
      <a
        href={locales.links.privacyPolicy.href}
        class="px-3 py-2 w-max block"
        rel="bookmark"
      >
        {locales.links.privacyPolicy.text}</a
      >
    </li>
  </ul>
</footer>
