---
import { Image } from "astro:assets";
import Phone from "../icons/Phone.astro";
import Whatsapp from "../icons/Whatsapp.astro";

const { locales } = Astro.props;
---

<div
  class="bg-base-100 drop-shadow-md sticky top-[-1px] z-50"
  transition:persist
>
  <div class="navbar max-w-screen-xl mx-auto">
    <div class="navbar-start max-md:w-full">
      <div class="dropdown dropdown-open">
        <button tabindex="0" class="btn btn-ghost md:hidden" id="dropdown-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </button>
        <ul
          id="dropdown-panel"
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-20 p-2 shadow bg-base-100 rounded-box w-52 hidden"
        >
          {
            locales.navItems.map((item) => (
              <li class="hover:border-b-base-100 border-b-[1px] border-b-transparent transition-colors">
                <a href={item.href} rel="markbook">
                  {item.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <a
        class="md:btn md:btn-ghost md:block md:btn-square md:btn-md md:p-1.5"
        href="/"
        ><Image
          src="/assets/logo.webp"
          alt="Logo de sobreruedasgranada"
          width="200"
          height="200"
          class="max-md:hidden"
        />
        <span class="md:hidden max-2xs:hidden pl-1.5 block"
          >{locales.mobileTitle}</span
        ></a
      >
    </div>
    <div class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal px-1">
        {
          locales.navItems.map((item) => (
            <li>
              <a
                href={item.href}
                rel="markbook"
                class="!text-base-content hover:underline underline-offset-4 focus:underline !bg-transparent"
              >
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-end">
      <button
        class="btn btn-sm btn-primary mr-1.5"
        onclick="modal_contact.showModal()"
      >
        {locales.contactButton.text}
        <Phone class="w-4 h-4 max-xs:hidden" />
        <Whatsapp class="w-4 h-4 max-xs:hidden" />
      </button>
    </div>
  </div>

  <script is:inline defer>
    document.getElementById("dropdown-btn").addEventListener(
      "click",
      (event) => {
        event.stopPropagation();
        document.getElementById("dropdown-panel").classList.toggle("hidden");
      },
      { capture: true }
    );
    document.addEventListener("click", (event) => {
      if (
        !document.getElementById("dropdown-panel").classList.contains("hidden")
      )
        document.getElementById("dropdown-panel").classList.add("hidden");
    });
  </script>
</div>
