---
const { locales } = Astro.props;
---

<div class="w-full h-full">
  <section
    class="max-w-screen-xl mx-auto py-14 2xl:px-0 px-16 max-md:px-4 max-xs:px-0"
    id="detalles"
  >
    <div role="tablist" class="tabs tabs-lifted md:tabs-lg">
      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab [--tab-bg:#F1F5F9] [--tab-border-color:#a1c2f7] min-w-max"
        aria-label={locales.specificationsSheet.tabTitle}
        checked
      />
      <div
        role="tabpanel"
        class="tab-content border-secondary rounded-box lg:px-6 px-4 prose prose-base max-md:prose-sm min-w-full bg-slate-100 max-xs:!rounded-none"
      >
        <div class="overflow-x-auto">
          <table class="table">
            <tbody>
              {
                locales.specificationsSheet.specifications.map((row, i) => (
                  <tr
                    class:list={[
                      "border-secondary",
                      i % 2 === 0 && "bg-slate-50",
                    ]}
                  >
                    <td class="border-r border-secondary font-semibold">
                      {row[0]}
                    </td>
                    <td>{row[1]}</td>
                  </tr>
                ))
              }
            </tbody>
          </table>
          <p>
            {locales.specificationsSheet.disclaimer}
          </p>
        </div>
      </div>
      <input
        type="radio"
        name="my_tabs_2"
        role="tab"
        class="tab [--tab-bg:#F1F5F9] [--tab-border-color:#a1c2f7] min-w-max"
        aria-label={locales.bookingConditions.tabTitle}
      />
      <div
        role="tabpanel"
        class="tab-content border-secondary rounded-box lg:p-6 p-4 prose prose-base max-md:prose-sm min-w-full bg-slate-100 max-xs:!rounded-none"
      >
        <Fragment set:html={locales.bookingConditions.text} />
        <a
          href={locales.bookingConditions.action.href}
          target={locales.bookingConditions.action.target}
          class="btn btn-primary btn-sm mr-2"
        >
          {locales.bookingConditions.action.text}
        </a>
      </div>
    </div>
  </section>
</div>
