---
import { Image } from "astro:assets";

const { locales, id, class: _class } = Astro.props;
---

<section id={id} class:list={["py-20 lg:px-16", _class]}>
  <div class="mx-auto w-fit mb-8 max-xs:mb-6">
    <div class="carousel carousel-center md:rounded-lg">
      {
        locales.images.map((image) => (
          <div class="carousel-item">
            <Image
              src={image.src}
              alt={image.alt}
              class="aspect-1/1 w-screen xs:w-64 xs:h-64"
              width="1200"
              height="1200"
            />
          </div>
        ))
      }
    </div>
  </div>
  <div class="max-w-screen-md mx-auto px-16 max-xs:px-6">
    <h3 class="xs:text-4xl text-2xl text-center mb-8 max-xs:mb-6">
      {locales.title}
    </h3>
    <div class="prose-xl max-md:prose-lg text-center mb-8 max-xs:mb-6">
      <Fragment set:html={locales.paragraph} />
    </div>
    <div class="mx-auto w-fit">
      <a
        href={locales.actionButton.href}
        rel="next"
        target="_self"
        class="btn btn-md btn-primary">{locales.actionButton.text}</a
      >
    </div>
  </div>
</section>
